<!-- Can see it only after user logid -->

<!-- HEADER -->
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"><img style="width: 40px;" src="assets/logo.png"/></a>

    <div class="navbar-nav">
        <h2 style="color: aqua">Hi {{user?.firstName}} {{user?.lastName}}</h2>
        <a class="nav-item nav-link" routerLink="/products/products-list">Products</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>

  <!-- SIDEBAR -->
<!--<div *ngIf="user" class="sidebar-container">

  <ul class="sidebar-navigation">
    <li>
      <a routerLink="/">
        <i class="fa fa-home" aria-hidden="true"></i> Homepage
      </a>
    </li>
    <li>
      <a routerLink="/orders">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Orders
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="fa fa-info-circle" aria-hidden="true"></i> About
      </a>
    </li>
  </ul>
</div>-->

  <div class="content-container">

    <div class="container-fluid">

      <div class="jumbotron">
        <!--INSIDE CONTAINER -->
        <div class="app-container" [ngClass]="{'bg-light' : user}">
          <alert></alert>
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>
</div>



