<!-- Can see it only after user logid -->

<!-- HEADER -->
<div>
<!--  *ngIf="user"-->
<app-header [withHeader]="withHeader"></app-header>

  <!-- SIDEBAR -->
<div *ngIf="withHeader" class="sidebar-container">

  <ul class="sidebar-navigation">
    <li>
      <a routerLink="/products/products-list">
        <i class="fa fa-home" aria-hidden="true"></i> Products
      </a>
    </li>
<!--    <li>
      <a routerLink="/orders">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Orders
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="fa fa-info-circle" aria-hidden="true"></i> About
      </a>
    </li>-->
  </ul>
</div>

  <div class="content-container">
    <div class="container-fluid">
      <!-- <div > -->
        <!--INSIDE CONTAINER -->
        <div class="app-container" [ngClass]="{'bg-light' : user}">
          <alert></alert>
          <router-outlet></router-outlet>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>





